<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>

var app = angular.module('App', []);

app.controller('JobCtrl', function ($scope, $http)
        {

$scope.postJob = function (c, desc, s,r) {

var JobData = {

        companyName: c,

        designation: desc,

        salary: s,
        
        requirement:r
        

};

$http.post('http://localhost:8080/mavenwebpro2/createjob',
        JSON.stringify(JobData)).then(function (response) {

if (response.data)

$scope.msg = "Job  Created Successfully!";

},
function (response) {

$scope.msg = "Service not Exists";

$scope.statusval = response.status;

$scope.statustext = response.statusText;

$scope.headers = response.headers();

}); //then

}; //postBlog

}); //controller

</script>
</head>
<body>
<h3>Job</h3>
<div ng-app="App" ng-controller="JobCtrl">

<div class="container">
  <form class="form-horizontal">
 <div class="form-group">
  <label  class="control-label col-sm-2">companyName :</label>
  <div class="col-sm-10">
      <input ng-model="companyName" class="form-control" id="companyName">
    </div>
    </div>


 <div class="form-group">
  <label  class="control-label col-sm-2">designation:</label>
  <div class="col-sm-10">
      <input ng-model="designation" class="form-control" id="designation">
    </div>
    </div>

 <div class="form-group">
  <label  class="control-label col-sm-2">Salary :</label>
  <div class="col-sm-10">
      <input ng-model="salary" class="form-control" id="salary">
    </div>
    </div>
 <div class="form-group">
  <label  class="control-label col-sm-2">Requirement:</label>
  <div class="col-sm-10">
      <input ng-model="requirement" class="form-control" id="requirement">
    </div>
    </div>

 <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="button" class="btn btn-default" value="Send" ng-click="postJob(companyName, designation, salary,requirement)"/>
      </div>
    </div>

</form>
</div>
<p>Output Message : {{msg}}</p>

<p>StatusCode: {{statusval}}</p>

<p>Status: {{statustext}}</p>

<p>Response Headers: {{headers}}</p>
</div>
</body>
</html>


