<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">




</script>
</head>

<body >
{{test}}
<h3>Blog</h3>

<div class="container">
  <form class="form-horizontal">
 <div class="form-group">
  <label  class="control-label col-sm-2">title :</label>
  <div class="col-sm-10">
      <input ng-model="title" class="form-control" id="title">
    </div>
    </div>


 <div class="form-group">
  <label  class="control-label col-sm-2">description:</label>
  <div class="col-sm-10">
      <input ng-model="description" class="form-control" id="description">
    </div>
    </div>

 <div class="form-group">
  <label  class="control-label col-sm-2">written by :</label>
  <div class="col-sm-10">
      <input ng-model="writtenby" class="form-control" id="writtenby">
    </div>
    </div>
 <div class="form-group">
  <label  class="control-label col-sm-2">date_blog:</label>
  <div class="col-sm-10">
      <input ng-model="date_blog" class="form-control" id="date_blog">
    </div>
    </div>
 <div class="form-group">
  <label  class="control-label col-sm-2">brief:</label>
  <div class="col-sm-10">
      <input ng-model="brief" class="form-control" id="brief">
    </div>
    </div>
 <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="button" class="btn btn-default" value="Send" ng-click="postBlog(title, description, writtenby,date_blog,brief)"/>
      </div>
    </div>

</form>
</div>

Output Message : {{msg}}<br>

StatusCode: {{statusval}}<br>

Status: {{statustext}}<br>

Response Headers: {{headers}}<br>
{{getallblog}}
</body>
</html>